<!DOCTYPE html>
<article class="nextmeeting">
	<h1>Next Meeting</h1>
	<p>
		<img src="<%= appdata.meeting.where.img %>" alt="Meeting Location">
		<%= appdata.meeting.date %>,
		<%= appdata.meeting.time %> at
		<%= appdata.meeting.date %>
		<%= appdata.meeting.where.address %>
	</p>    
</article>